<h1>Comments for <%= @event.title %></h1>
<p class="event_content"><%= @event.content %></p>
Event last updated: <%= @event.updated_at %>
Event status: <%= @event.resolved_status %>

<% if @comments.size > 0 %>
  <ul>
    <% @comments.each do |comment| %>
      <li><%= link_to comment.content || "n/a" , edit_admin_event_comment_path(@event, comment) %>
        <span class="date"><%= comment.updated_at %></span>
        <%= link_to "Remove", admin_event_comment_path(@event, comment), :method => :delete %></td>

      </li>
    <% end %>
  </ul>
<% end %>

<%= render :partial => "form" %>
